/*
Orange: #e67e22
white: #fff
very light grey back ground color for a few sections: #f4f4f4
ultra light background: fcfcfc
box shadow: e4e4e4
  footer background color: #333
border/outline for text boxes: #ccc 1px solid;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif; /*Load LATO; if no internet load  Arial, if arial not present in user machine, load any san serif font*/
  font-size: 16px;
  font-weight: 300; /*default*/
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-weight: 400; /*when the font size is big, font weight should be less*/
  text-transform: uppercase; /*transform the text to uppercase*/
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 150%;
  word-spacing: 5px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
h1::after {
  /*after psuedo class: the style appears just after the h2 element*/
  display: block;
  background-color: #e67e22;
  content: ""; /*mandatory for using after psuedo class*/
  margin: 10px auto 0 auto; /*top right bottom left*/
  height: 2px;
  width: 90%;
}
row {
  width: 1140px;
  margin: 0 auto;
}
section {
  width: 70%;
  height: auto;
  margin: 0 auto 0 auto;
  border: 1px #fcfcfc solid;
  background-color: #fcfcfc;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 15px 15px 15px #e4e4e4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
select,
option,
input[type="color"] {
  font-weight: 300;
  font-size: smaller;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 80%;
}

#font-size-dropdown,
#id-font-weight {
  width: 30%;
}
#id-font-weight {
  display: none;
}

#font-family-dropdown {
  width: 80%;
}
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px 10px 30px;
  width: 250px;
  text-decoration: none;
  font-weight: 400;
  border-radius: 150px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s, border 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s, border 0.3s;
  -o-transition: background-color 0.3s, color 0.3s, border 0.3s;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 20px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #de7519; /*got this darker shade from the 0to255.com*/
  border: 1px solid #de7519;
}

/*Ion icons*/
ion-icon {
  vertical-align: top;
  margin-right: 15px;
  color: #e67e22;
}
/*the below snippet gets rid of the default tool tip from the ion icon. in this case 'clipboard'*/
ion-icon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

textarea,
input[type="url"],
input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  border: #ccc 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 120px;
  resize: none;
}
#adjust-svg-width {
  padding: 5px;
  border-radius: 5px;
  width: 60%;
  height: 30px;
  display: none;
}
#idTxtToEncode,
#idURLToEncode,
#testing {
  height: 40px;
}

/*Tool tip*/

/* Tooltip container */
.tooltip,
.tooltip1,
.tooltip2 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext,
.tooltip1 .tooltiptext,
.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #e67e22;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 70%;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext,
.tooltip1:hover .tooltiptext,
.tooltip2:hover .tooltiptext {
  visibility: visible;
}
